.button {
  width: 50%;
  border: none;

  padding: 8px 0;

  font: 400 1.4rem/30px 'Poppins', sans-serif;

  border: 1px solid rgb(114, 113, 113);
  border-radius: 4px;

  // background: var(--btn-primary);
  background: none;
  color: var(--text-secondary);

  cursor: pointer;

  margin: 42px 0;

  transition: background 0.5s;

  &:hover {
    // filter: brightness(1.4);
    background: var(--btn-primary);
  }
}
