.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 100%;

  .homeHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 15vh;
    width: 100%;

    background: var(--bg-primary);
    color: var(--text-primary);

    > img {
      width: 44px;
    }

    h1 {
      font: 800 2rem/30px 'Montserrat Alternates', sans-serif;
    }

    h2 {
      font: 400 1.5rem/40px 'Montserrat Alternates', sans-serif;
    }
  }
}

.container .homeMain {
  max-width: 100%;
  width: 100%;

  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: var(--bg-secondary);
  color: var(--text-secondary);

  .mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 34px;

    h2 {
      font-size: 2.2rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 400;

      margin-top: 8px;
    }

    > img {
      width: 220px;
      padding: 24px 0;
    }
  }

  .mainPictures {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    > div img {
      width: 220px;
      height: 220px;
      border-radius: 4px;

      transition: transform 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .mainIcon {
    width: 80px;
    height: 70px;

    margin: 24px 0;

    text-decoration: none;
    color: #fff;

    cursor: pointer;

    transition: transform filter 0.5s;

    &:hover {
      transform: scale(1.02);
      filter: brightness(0.9);
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .homeMain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: 44px;

      .mainHeader {
        margin: 0 20px;
        padding: 24px;

        text-align: center;

        h2 {
          font-size: 2rem;
        }

        h3 {
          display: block;
        }
      }

      .mainPictures {
        > div img {
          width: 160px;
          height: 160px;
        }

        > div img:last-child {
          display: none;
        }
      }

      .mainIcon {
        margin-top: 44px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    .homeMain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mainHeader {
        margin: 0 20px;

        text-align: center;

        h2 {
          font-size: 2rem;
        }

        h3 {
          display: none;
        }
      }

      .mainPictures {
        display: none;
      }

      .mainIcon {
        margin-top: 0px;
      }
    }
  }
}
