.registerBox {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #1f1b1b;
  color: var(--text-primary);

  border: none;

  .registerInfo {
    color: var(--text-secondary);
    text-align: center;

    margin: 24px 44px;

    h2,
    h3 {
      font-weight: 400;
    }

    h3 {
      padding-top: 24px;
    }
  }

  .formRegister {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .inputBlock {
      width: 100%;
    }

    button {
      align-self: center;
    }
  }
}

@media screen and (max-width: 1080px) {
  .registerBox {
    .registerInfo {
      color: var(--text-secondary);
      text-align: center;

      margin: 24px 44px;

      h2,
      h3 {
        font-weight: 400;
      }
    }

    .formRegister {
      width: 80%;
    }
  }
}

@media screen and (max-width: 720px) {
  .registerBox {
    .registerInfo {
      color: var(--text-secondary);
      text-align: center;

      margin: 24px 44px;

      h2,
      h3 {
        font-weight: 400;
      }

      h3 {
        padding-top: 24px;
      }
    }

    .formRegister {
      width: 80%;
    }
  }
}
